fastapi
uvicorn[standard]
pydantic-settings
python-dotenv

sqlalchemy
asyncpg
psycopg2-binary
alembic
pgvector

groq
openai
fastembed
httpx

logfire
logfire[fastapi]
logfire[sqlalchemy]

pytest
pytest-asyncio

black
ruff
